@page "/ConsultaTickets"
@inject HttpClient httpClient
@using RegistroTicketsDetalle.Shared;

<div class="card-header">
    <h3 class="card align-items-center">Consulta de Tickets</h3>
</div>

<div class="card-body">
    <div class="row">
        <button type="button" @onclick="Buscar" class="btn btn-primary input-group-text">
            <i class="oi oi-magnifying-glass " />
        </button>
    </div>
</div>

<div class="card-body">
    @if (Tickets is not null)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>TicketId</th>
                    <th>Fecha</th>
                    <th>Solicitado Por</th>
                    <th>Asunto</th>
                    <th>Descripci&oacute;n</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Tickets)
                {
                    <tr>
                        <td>@ticket.TicketsId</td>
                        <td>@ticket.Fecha.ToString("dd/MM/yyyy")</td>
                        <td>@ticket.SolicitadoPor</td>
                        <td>@ticket.Asunto</td>
                        <td>@ticket.Descripción</td>
                        <td><a href="RegistroTickets/@ticket.TicketsId">Ver</a></td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>

@code {

    public List<Tickets>? Tickets { get; set; }

    public async Task Buscar()
    {
        Tickets = await httpClient.GetFromJsonAsync<List<Tickets>>($"api/Tickets");

        StateHasChanged();

    }
}

